Repository devcode1981/File-Provider-Storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:docs_lint, test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Path conditions:
  test:docs_lint: any of: **/*.{md}, {doc}/**/*
  test:static-analysis: any of: **/*.{md}, {doc}/**/*, **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rspec: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:code_quality: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:container_scanning: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:install: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:update: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*

Allow object_store.host to be defined
  Procfile.erb
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
  support/templates/gitlab.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add more capitalization rules
  .markdownlint.json
  doc/howto/configuration.md
  doc/howto/prometheus/index.md
  doc/howto/troubleshooting.md
Due: none

Always set default repositories storage path
  support/templates/gitlab.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Don't dump ? methods to config
  lib/gdk/config_settings.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Make CI jobs interruptible by default
  .gitlab-ci.yml
  .gitlab/ci/pre.gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add missing include for pre.gitlab-ci.yml
  .gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

docs(prometheus): Update broken URL
  doc/howto/prometheus/index.md
Due: none

Fix a typo in the help url
  lib/gdk/erb_renderer.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Update prepare.md
  doc/prepare.md
Due: none

Display gdk help when gdk is called without args
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Improve container scanning info in registry docs
  doc/howto/registry.md
Due: none

Remove step to git pull on update
  README.md
  doc/howto/registry.md
  doc/set-up-gdk.md
  doc/update-gdk.md
Due: none

Support experimental quiet mode
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Rename and use bundle_install_cmd
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Reduce bundle install noise
  Makefile
  gdk-config.mk.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Apply suggestion to doc/howto/troubleshooting.md
  doc/howto/troubleshooting.md
Due: none

Update the overview section
  README.md
Due: none

Remove old texts
  README.md
Due: none

Remove trailing spaces
  README.md
Due: none

Fix broken link
  README.md
Due: none

Refresh Vale rules
  CHANGELOG.md
  doc/.vale/gitlab/BadgeCapitalization.yml
  doc/.vale/gitlab/British.yml
  doc/.vale/gitlab/CodeblockFences.yml
  doc/.vale/gitlab/InternalLinkExtension.yml
  doc/.vale/gitlab/ReferenceLinks.yml
  doc/.vale/gitlab/RelativeLinks.yml
  doc/.vale/gitlab/Repetition.yml
  doc/.vale/gitlab/SentenceSpacing.yml
  doc/.vale/gitlab/Substitutions.yml
  doc/.vale/gitlab/VersionText.yml
  doc/howto/auto_devops.md
  doc/howto/auto_devops/tips_and_troubleshooting.md
  doc/howto/auto_devops/useful_commands.md
  doc/howto/dependency_proxy.md
  doc/howto/elasticsearch.md
  doc/howto/gdk_commands.md
  doc/howto/geo.md
  doc/howto/gitaly.md
  doc/howto/gitlab_docs.md
  doc/howto/google-oauth2.md
  doc/howto/k3d.md
  doc/howto/ldap.md
  doc/howto/local_network.md
  doc/howto/nginx.md
  doc/howto/postgresql.md
  doc/howto/pry.md
  doc/howto/registry.md
  doc/howto/runner.md
  doc/howto/troubleshooting.md
  doc/howto/unicorn.md
  doc/howto/web_ide_terminal_gdk_setup.md
  doc/prepare.md
  doc/runit.md
  doc/set-up-gdk.md
  doc/vagrant.md
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Fix the default tunnel_host when config.auto_devops.enabled
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Apply suggestion to lib/gdk/config.rb
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Use `shell` instead of `bash` for documentation syntax highlighting
  doc/howto/troubleshooting.md
Due: none

Run gdk doctor for CI verify install/update jobs
  support/ci/functions.sh
  support/ci/verify_install
  support/ci/verify_update
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add GDK docs for working with GoProxy
  doc/howto/package.md
Due: none

Update README.md with where to get help info
  README.md
Due: none

Remove trailing whitespaces
  README.md
Due: none

Remove unnecessary warn
  gem/bin/gdk
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Bump GEM_VERSION to 0.2.7
  gem/lib/gitlab_development_kit.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Update author and email for gemspec
  gem/gitlab-development-kit.gemspec
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Use registry local hostname for api_url when auto_devops
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Apply suggestion to README.md
  README.md
Due: none

Update support section to include the support forum
  README.md
Due: none

Remove trailing space
  README.md
Due: none
