Repository devcode1981/File-Provider-Storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:docs_lint, test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Path conditions:
  test:docs_lint: any of: **/*.{md}, {doc}/**/*
  test:static-analysis: any of: **/*.{md}, {doc}/**/*, **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rspec: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:code_quality: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:container_scanning: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:install: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:update: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*

Add ChromeDriver troubleshooting
  doc/howto/troubleshooting.md
Due: none

Update package docs
  doc/howto/package.md
Due: none

Make all: and update: easier to read
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add comment for all: and update:
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

tracer_build_tags only used once
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Group variables for improved readability
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Remove vars that weren't referenced
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Ensure gitaly ruby dir has gems installed
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Clone gitaly with version as branch
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add Docker to capitalization rules
  .markdownlint.json
  doc/howto/auto_devops/index.md
  doc/howto/object_storage.md
  doc/howto/registry.md
  doc/howto/runner.md
  doc/howto/saml.md
  doc/howto/vagrant.md
Due: none

Update Elasticsearch to 7.7.0
  Makefile
  bin/download-elasticsearch
  doc/howto/elasticsearch.md
  gdk-config.mk.erb
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Upgrade to Git 2.27
  doc/prepare.md
  lib/gdk/diagnostic/git.rb
  spec/lib/gdk/diagnostic/git_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Remove empty gitlab-workhorse/config.toml.example
  Makefile
  support/remove-empty-file
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Ensure opts are passed into Open3.popen3
  lib/shellout.rb
  spec/lib/shellout_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New gitlab_elasticsearch_indexer __dir setting
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New golang diagnostic
  lib/gdk/diagnostic/golang.rb
  spec/lib/gdk/diagnostic/golang_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Run new Golang diagnostic
  lib/gdk/diagnostic.rb
  spec/lib/gdk/diagnostic_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add missing dependency_proxy for gitlab.yml
  support/templates/gitlab.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Use latest codequality image
  .gitlab/ci/_rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Remove support for InfluxDB
  Makefile
  Procfile.erb
  doc/howto/performance_metrics.md
  gdk.example.yml
  influxdb/Makefile
  influxdb/influxdb.conf.example
  lib/gdk/config.rb
  support/bootstrap-grafana
  support/bootstrap-influxdb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Fixed formatting for bullet points
  README.md
Due: none

Add new reconfigure make target
  Makefile
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Renamed show-date to show-updated-at
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Recommend rbenv-communal-gems
  doc/prepare.md
Due: none

Include rules template instead of defining our own
  .gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Document experimental GDK settings
  doc/configuration.md
Due: none

Remove experimental GDK ruby_services setting
  lib/gdk/config.rb
  lib/runit.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add GitLab managed Prometheus setup instructions
  doc/howto/prometheus/alerts.md
Due: none

WIP
  lib/gdk/config.rb
  lib/gdk/config_settings.rb
  lib/gdk/config_type/array.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Fix link to K8S doc
  README.md
Due: none

Add all Vale rules from main GitLab project
  doc/.vale/gitlab/Acronyms.yml
  doc/.vale/gitlab/BadgeCapitalization.yml
  doc/.vale/gitlab/British.yml
  doc/.vale/gitlab/CodeblockFences.yml
  doc/.vale/gitlab/Contractions.yml
  doc/.vale/gitlab/CurlStringsQuoted.yml
  doc/.vale/gitlab/FirstPerson.yml
  doc/.vale/gitlab/InternalLinkExtension.yml
  doc/.vale/gitlab/LatinTerms.yml
  doc/.vale/gitlab/MeaningfulLinkWords.yml
  doc/.vale/gitlab/MergeConflictMarkers.yml
  doc/.vale/gitlab/OxfordComma.yml
  doc/.vale/gitlab/RelativeLinks.yml
  doc/.vale/gitlab/SentenceLength.yml
  doc/.vale/gitlab/Spelling.yml
  doc/.vale/gitlab/SubstitutionWarning.yml
  doc/.vale/gitlab/spelling-exceptions.txt
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Support for detecting stale services
  lib/gdk/diagnostic.rb
  lib/gdk/diagnostic/stale_services.rb
  spec/lib/gdk/diagnostic/stale_services_spec.rb
  spec/lib/gdk/diagnostic_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop ignore more directories
  .rubocop-gdk.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

refactor: cleanup support/ci/shellcheck script
  support/ci/shellcheck
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Don't read from files for new configurations
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Makefile uses configured address for standard PostgreSQL and Geo
  Makefile
  gdk-config.mk.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Update instructions on how to setup Geo
  doc/howto/geo.md
Due: none

Geo: extract postgres port from primary using GDK
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add address configuration for PostgreSQL
  gdk.example.yml
  lib/gdk/config.rb
  support/templates/database.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Generate database_geo.yml in ruby
  Makefile
  lib/tasks/config.rake
  support/templates/database_geo.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update
