Repository devcode1981/File-Provider-Storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:docs_lint, test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Path conditions:
  test:docs_lint: any of: **/*.{md}, {doc}/**/*
  test:static-analysis: any of: **/*.{md}, {doc}/**/*, **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rspec: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:code_quality: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:container_scanning: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:install: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:update: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*

New config.gdk.experimental settings support
  gdk.example.yml
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Allow runit to generate services via Ruby Services
  lib/runit.rb
  lib/runit/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Beginnings of Ruby Services
  lib/gdk.rb
  lib/gdk/services.rb
  lib/gdk/services/base.rb
  spec/lib/gdk/services/base_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Misc Makefile improvements
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Only markdownlint doc/**/*.md files for now
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Allow setting runner extra_hosts or default to []
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
  support/templates/gitlab-runner-config.toml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Split .gitlab-ci.yml into templates
  .gitlab-ci.yml
  .gitlab/ci/_docker.gitlab-ci.yml
  .gitlab/ci/_rules.gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/verify.gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Default to gitlab container registry
  doc/howto/configuration.md
  doc/howto/registry.md
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
  support/docker-registry
  support/templates/registry.config.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add more Vale rules to project
  .markdownlint.json
  doc/.vale/gitlab/Repetition.yml
  doc/.vale/gitlab/Spelling.yml
  doc/.vale/gitlab/SubstitutionWarning.yml
  doc/.vale/gitlab/Substitutions.yml
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/howto/auto_devops.md
  doc/howto/dependency_proxy.md
  doc/howto/nginx.md
  doc/howto/registry.md
  doc/howto/troubleshooting.md
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add docs on hosted grafana instances
  doc/howto/prometheus/third_party_access.md
Due: none

Fix self-signed registry paths
  support/docker-registry
  support/templates/registry.config.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add make rubocop target
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop necessary disables
  .rubocop-gdk.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop manual basic fixes
  Vagrantfile
  lib/gdk.rb
  lib/gdk/config.rb
  lib/gdk/diagnostic/version.rb
  lib/gdk/erb_renderer.rb
  lib/runit.rb
  lib/tasks/config.rake
  spec/lib/gdk/config_settings_spec.rb
  spec/lib/gdk/config_spec.rb
  spec/lib/gdk/diagnostic/ruby_gems_spec.rb
  spec/lib/gdk/erb_renderer_spec.rb
  spec/lib/runit/config_spec.rb
  support/ask-to-restart
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop autocorrect fixes
  Vagrantfile
  lib/daemonizer.rb
  lib/gdk.rb
  lib/gdk/command/doctor.rb
  lib/gdk/config.rb
  lib/gdk/config_settings.rb
  lib/gdk/dependencies.rb
  lib/gdk/diagnostic.rb
  lib/gdk/diagnostic/geo.rb
  lib/gdk/env.rb
  lib/git/configure.rb
  lib/runit.rb
  lib/runit/config.rb
  lib/tasks/setup.rake
  spec/lib/gdk/config_settings_spec.rb
  spec/lib/gdk/config_spec.rb
  spec/lib/gdk/diagnostic/geo_spec.rb
  spec/lib/gdk/diagnostic/git_spec.rb
  spec/lib/gdk/diagnostic/ruby_gems_spec.rb
  spec/lib/gdk_spec.rb
  spec/lib/runit/config_spec.rb
  spec/lib/shellout_spec.rb
  spec/spec_helper.rb
  support/ask-to-restart
  support/bootstrap-geo
  support/bootstrap-grafana
  support/bootstrap-influxdb
  support/bootstrap-praefect
  support/component-git-update
  support/geo-logcursor
  support/pg_bindir
  support/postgres-port
  support/postgresql-signal-wrapper
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop basic fixes for gem/
  gem/bin/gdk
  gem/gitlab-development-kit.gemspec
  gem/lib/gitlab_development_kit.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop disable Metrics/CyclomaticComplexity cop
  gem/bin/gdk
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop disable misc cops
  lib/gdk.rb
  lib/gdk/command/diff_config.rb
  lib/gdk/config_settings.rb
  lib/gdk/postgresql.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop GitLabSecurity/SystemCommandInjection fix
  Vagrantfile
  lib/gdk/dependencies.rb
  support/postgres-port
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop disable Style/GlobalVars cop
  Vagrantfile
  gem/bin/gdk
  lib/gdk.rb
  support/postgresql-signal-wrapper
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop disable Metrics/CyclomaticComplexity cop
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Don't exclude bin/ for RuboCop
  .rubocop-gdk.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop more manual offence fixes
  Vagrantfile
  gem/bin/gdk
  lib/gdk.rb
  lib/gdk/command/diff_config.rb
  lib/gdk/config_settings.rb
  spec/lib/gdk/services/base_spec.rb
  spec/lib/gdk/services_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add new test:rubocop CI job
  .gitlab/ci/test.gitlab-ci.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add general commands to try when fixing GDK
  doc/howto/troubleshooting.md
Due: none

Rename static-analysis job to eclint, as eclint is its only function
  .gitlab/ci/test.gitlab-ci.yml
  Makefile
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add top level test make target
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

RuboCop exclude more directories
  .rubocop-gdk.yml
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

added initial brew troubleshooting info, closes #912
  doc/howto/troubleshooting.md
Due: none

Add explanation for gitlab_repo parameter in Geo docs
  doc/howto/geo.md
Due: none

Updating ruby prereqs
  doc/prepare.md
Due: none

Update capitalization configuration
  .markdownlint.json
  doc/howto/prometheus/index.md
  doc/howto/troubleshooting.md
Due: none

Add troubleshooting info about CSS live-reloading
  doc/howto/troubleshooting.md
Due: none

Apply suggestion to doc/howto/troubleshooting.md
  doc/howto/troubleshooting.md
Due: none

Bump Container Registry to v2.9.1
  doc/howto/configuration.md
  doc/howto/registry.md
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
  support/docker-registry
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Update gdk.local to gitlab.local
  doc/howto/registry.md
Due: none

Fix broken anchor link (#trusting-the-registrys-self-signed-certificate) on Container Registry doc
  doc/howto/registry.md
Due: none

Update GDK-SAML doc config section
  doc/howto/saml.md
Due: none

Clarify where to run `gdk init`
  doc/set-up-gdk.md
Due: none

New config.local_hostname setting
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update
