Repository devcode1981/File-Provider-Storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:docs_lint, test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

test:docs_lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:lint
  stage: test
  script:
  - vale --minAlertLevel error doc
  - markdownlint --config .markdownlint.json 'doc/**/*.md'

test:static-analysis:
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:node-10
  stage: test
  script:
  - apt-get update && apt-get install -y rake
  - npm config set unsafe-perm true
  - make static-analysis

test:rspec:
  image: ruby:2.6
  stage: test
  script:
  - bundle install --jobs 4
  - bundle exec rspec --format progress --format RspecJunitFormatter --out rspec.xml
  artifacts:
    paths:
    - rspec.xml
    reports:
      junit: rspec.xml

test:code_quality:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  tags:
  - gitlab-org-docker
  stage: test
  allow_failure: true
  script:
  ...

test:container_scanning:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  tags:
  - gitlab-org-docker
  stage: test
  allow_failure: true
  dependencies: []
  script:
  ...

verify:install:
  stage: verify
  artifacts:
    paths:
    - ./gitlab-development-kit/gitlab/log/*.log
    - ./gitlab-development-kit/log
    expire_in: 2 days
    when: always
  retry: 1
  script:
  - support/ci/verify_install

verify:update:
  stage: verify
  artifacts:
    paths:
    - ./gitlab-development-kit/gitlab/log/*.log
    - ./gitlab-development-kit/log
    expire_in: 2 days
    when: always
  retry: 1
  script:
  - support/ci/verify_update

Apply suggestion to README.md
  README.md
Due: none

Check pg gem as part of gdk doctor
  lib/gdk/diagnostic/ruby_gems.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Restructure GDK documentation
  README.md
  doc/configuration.md
  doc/gdk_commands.md
  doc/howto/auto_devops.md
  doc/howto/auto_devops/tips_and_troubleshooting.md
  doc/howto/auto_devops/useful_commands.md
  doc/howto/dependency_proxy.md
  doc/howto/elasticsearch.md
  doc/howto/geo-docker-registry-replication.md
  doc/howto/geo.md
  doc/howto/index.md
  doc/howto/kubernetes.md
  doc/howto/mattermost.md
  doc/howto/package.md
  doc/howto/pages.md
  doc/howto/prometheus/third_party_access.md
  doc/howto/runner.md
  doc/howto/saml.md
  doc/howto/serverless.md
  doc/howto/vagrant.md
  doc/howto/web_ide_terminal_gdk_setup.md
  doc/index.md
  doc/prepare.md
  doc/troubleshooting.md
Due: none

Use gitlab .__socket_file/.__socket_file_escaped
  Procfile.erb
  lib/gdk.rb
  support/templates/gitlab-shell.config.yml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New gitlab .__socket_file/.__socket_file_escaped
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New gitlab.actioncable settings section
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Use gitlab.actioncable.__socket_file
  Procfile.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Use predicate methods instead of #enabled
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add setting for the listen address for AutoDevOps
  gdk.example.yml
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Set workhorse hostname correctly when using nginx
  lib/gdk/config.rb
  nginx/conf/nginx.conf.erb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add gitlab shell config values to gitaly config.toml
  support/templates/gitaly.config.toml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add and use new memoized config helper
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

config.local_hostname to config.listen_address
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Initial alpha sort
  .gitignore
Due: none

Fix up ignores that were missing a / at the start
  .gitignore
Due: none

Make Praefect DB seeding a prerequisite for Rails DB seeding
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

update ruby version to 2.6.6
  .gitlab-ci.yml
  .rubocop-gdk.yml
  Dockerfile
  Vagrantfile
  doc/prepare.md
  doc/troubleshooting.md
  gem/gitlab-development-kit.gemspec
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Fix TEST_IMAGE -> VERIFY_IMAGE rename miss
  bin/docker
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add option to disable sourcemaps for webpack
  Procfile.erb
  doc/configuration.md
  gdk.example.yml
  lib/gdk/config.rb
  spec/lib/gdk/config_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Require Git v2.24.0 for the GDK
  lib/gdk/diagnostic/git.rb
  spec/lib/gdk/diagnostic/git_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Ensure gitaly has its Ruby gems installed
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Further restructure of topics
  doc/howto/auto_devops/index.md
  doc/howto/auto_devops/tips_and_troubleshooting.md
  doc/howto/index.md
  doc/howto/mattermost.md
  doc/howto/registry.md
  doc/howto/serverless.md
Due: none

Support full SHAs for components
  bin/resolve-dependency-commitish
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

GitLab URL for gitaly needs to be escaped + http
  support/templates/gitaly.config.toml.erb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Reduce gitaly clone noise
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

gitaly version is currently a SHA
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Add missing frozen_string_literal
  lib/shellout.rb
  spec/lib/gdk/command/doctor_spec.rb
  spec/lib/gdk/config_spec.rb
  spec/lib/shellout_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Remove unnecessary setup finished message
  Makefile
Due: test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New header/help message helper methods
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New make helper method
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Allow Shellout to receive varying args types
  lib/shellout.rb
  spec/lib/shellout_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Extract gdk update logic out into methods
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Extract gdk reconfigure logic out into methods
  lib/gdk.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Ensure all threads are finished
  lib/shellout.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

New Shellout#stream method
  lib/shellout.rb
  spec/lib/shellout_spec.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Re-worked Shellout#stream logic
  lib/shellout.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Support running reconfigure after gdk update
  lib/gdk.rb
  lib/gdk/config.rb
Due: test:static-analysis, test:rspec, test:code_quality, test:container_scanning, verify:install, verify:update

Path conditions:
  test:docs_lint: any of: **/*.{md}, {doc}/**/*
  test:static-analysis: any of: **/*.{md}, {doc}/**/*, **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:rspec: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:code_quality: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  test:container_scanning: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:install: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
  verify:update: any of: **/*.{rb,erb,sh,yml,example,types}, {lib,gem,bin}/**/*, {spec,support}/**/*, .gitlab-ci.yml, Gemfile{,.lock}, Makefile, Rakefile, Dockerfile, **/*/Dockerfile, packages.txt, **/*/Makefile, Vagrantfile, gitlab-openldap/**/*, vagrant/assets/**/*
